.App {
    text-align: center;

}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 800px;
}
.styled-table thead tr {
    background-color: #04AA6D;
    color: #ffffff;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #04AA6D;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table .game-row {
    cursor: pointer;

}

.styled-table .game-row:hover {

    background: #89dccb;
}

.styled-table .tracked {
    color: green;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #04AA6D;
}

.expandable {
}

.game-details {
    display: flex;
}

.game-cover {
    width: 150px;
    display: inline-block;
}


.game-cover img {
    object-fit: contain;
    width: 100%;
    display: block;
    padding-bottom: 15px;
}

.game-content {
    width: 620px;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
}
.btn {
    border: none;
    color: white;
    background-color: #04AA6D;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-red {
    background-color: #d34444;
}

.search-input {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    margin-top: 20px;
}

.table-release {
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

